body {
  header {
    height: 7vh;
    nav {
      height: 100%;
    }
  }

  aside {
    height: 93vh;
    width: 20%;
    float: left;
    background-color: #f7f7f7;
  }

  article {
    height: 93vh;
    width: 80%;
  }

  #fixed-right {
    width: 20%;
    right: 0;
  }
}
