body {
  header {
    height: 7vh;
    nav {
      height: 100%;
    }
  }

  aside {
    height: 93vh;
    width: 20%;
    float: left;
    background-color: #f7f7f7;
  }

  article {
    height: 93vh;
    width: 80%;
  }

  .nav.custom-side-nav {
    a {
      font-weight: lighter;
      padding: 0px 8px;
      margin: 4px 0px;
    }
    a.active {
      font-weight: normal;
      color: darkslategray;
      border-left: 3px solid darkslategray;
    }

    a[disabled] {
      color: grey;
      text-decoration: none;
      cursor: auto;
    }

    a:hover {
      text-decoration: none;
    }
  }
}
